@using System.Net
@using System.Text
@using Zabita.Entities.Concrete
@using ZabitaWEB.Client.Services.Abstract
@inject IFotoesService fotosService

<MudDialogProvider FullWidth="true" 
                   MaxWidth="MaxWidth.ExtraSmall" 
                   CloseButton="true"
                   DisableBackdropClick="true" 
                   NoHeader="true"
                   Position="DialogPosition.Center" >
</MudDialogProvider>
<MudDialog>
    <DialogContent>
        <MudContainer Style="height: 100vh; overflow-y: auto;width: 100vw; justify-content:flex-start">

            @if (Loading)
            {
                <MudProgressCircular Indeterminate="true"></MudProgressCircular>
            }
            else
            {

                <MudText Style="white-space: pre-wrap;">@tlp.TalepAciklama</MudText>


                <MudCarousel ItemsSource="@TalepFoto" Style="height: 90vh; width: 100%; justify-content:flex-end" ShowArrows="true" ShowDelimiters="true" AutoCycle="false">

                    <ItemTemplate>
                        <div class="d-flex flex-column flex-column justify-center" style="height:100%">
                                <img class="img-responsive" src="data:image/jpeg;base64, @(Convert.ToBase64String(context.FotoData))"
                                     style="width: 100%; height: 100%; justify-content:space-between">
                                <div class="carousel-caption">acts_as_money</div>
                        </div>
                    </ItemTemplate>
                </MudCarousel>


            }
            </MudContainer>
    </DialogContent>
    <DialogActions>
        <MudButton Color="Color.Primary" OnClick="Ok">Kapat</MudButton>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter] public Talep talep { get; set; }
    public IEnumerable<Foto> TalepFoto { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        Loading = true;
        TalepFoto = await fotosService.GetTalepFoto(talep.TalepId);
        tlp = talep;

        Loading = false;
    }

    private Talep tlp;
    private bool Loading = false;

    private void Ok()
    {
        MudDialog.Close(DialogResult.Ok(true));
    }
}