@page "/fetchdata"
@using ZabitaWEB.Shared
@using Zabita.Entities.Concrete
@using ZabitaWEB.Client.Services.Abstract
@inject HttpClient Http
@inject IMudurluksService mudurlukService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (listmudurluk== null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Temp. (C)</th>
                <th>Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in listmudurluk)
            {
                <tr>
                    <td>@forecast.MudurlukIsim</td>
            
                </tr>
            }

        </tbody>
    </table>
}

@code {
    IList<Mudurluk> listmudurluk;
    
    protected override async Task OnInitializedAsync()
    {
        // listyerleske = await Http.GetFromJsonAsync<IList<Amirlik>>("/api/Amirliks");
        listmudurluk = await mudurlukService.GetMudurluks();
        
        
    }

}
